.faq {
  &__container {
    background-color: $color-white;
    padding: 3rem;
  }
  &__header {
    margin: 2rem 0;
  }
  &__sub-heading {
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  &__paragraph {
    font-family: tahoma;
    color: $color-grey-dark;
    font-size: 1.6rem;
    line-height: 1cm;
    margin-left: 3rem;
  }
  &__questions {
    display: flex;
    flex-direction: column;

    &-box {
      display: flex;
      justify-content: space-between;
      padding: 3rem;
    }

    &-word {
      font-family: tahoma;
      font-size: 2rem;
      color: $color-black;
    }

    &-sign {
      font-size: 2.5rem;
      text-decoration: none;
    }

    &-link {
      text-decoration: none;

      &:hover {
        color: red;
      }
    }
  }
}
