.section-benefits {
  background-color: $color-white;
  padding: 3rem;
}
.section-collections {
  background-color: $color-white;
  padding: 3rem;
}
.section-faq {
  background-color: $color-white;
  padding: 3rem;
}
.section-join {
  background-image: url(../images/house-11.jpg);
  background-size: cover;
  background-position: top;
  height: 50rem;
  padding: 3rem;
}
.section-footer {
  background-color: $color-primary;
  padding: 3rem;
}
